
{% extends "Base.html" %}

{% block Tile %}
    Market Page
{% endblock %}

{% block Body %}
<h3 style="text-align: center;">Home of all Tech Items</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" id="idd">ID</th>
                <th scope="col">Name</th>
                <th scope="col"class="smallheader">Barcode</th>
                <th scope="col" class="smallheader">Price</th>
                <th scope="col" id="desc">Decription</th>
                <th scope="col" id="opt">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_name %}
                <tr>
                    <td id="idd">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td class="smallheader">{{item.barcode}}</td>
                    <td class="smallheader">{{item.price}}</td>
                    <td id="desc">{{item.description}}</td>
                    <td id="opt">
                        <button class="info">More Info</button>
                        <button class="purchase">Purchase This</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}